:root {
  --tsm: 13px;
  --tsm1: 14px;
  --tsm2: 15px;
  --tbase: 16px;
  --tlarge: 18px;
  --tlarge2: 22px;
  --txlarge: 25px;
  --tx2large: 32px;
  --tgiant: clamp(40px, 8vw, 80px);
  @media screen and (max-width: 480px) {
    --tx2large: 25px;
  }
}

.dark {
  --background: 228 86% 5%;
  --foreground: 210 40% 98%;
  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;
  --radius: 0.5rem;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --codebg: #04080cdc;

  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
  --ch-0: dark;
  --ch-1: #a1a1aa;
  --ch-2: #7dd3fc;
  --ch-3: #fb923c;
  --ch-4: #cbd5e1;
  --ch-5: #d8b4fe;
  --ch-6: #86efac;
  --ch-7: #f87171;
  --ch-8: #93c5fd;
  --ch-9: #fca5a5;
  --ch-10: #eff6ff;
  --ch-11: #450a0a;
  --ch-12: #052e16;
  --ch-13: #451a03;
  --ch-14: #111827;
  --ch-15: #a1a1aa;
  --ch-16: #0a0a0a;
  --ch-17: #6b72801a;
  --ch-18: #ffffff0b;
  --ch-19: #3b82f6;
  --ch-20: #155e75;
  --ch-21: #2563eb;
  --ch-22: #171717;
  --ch-23: #404040;
  --ch-24: #6b7280;
  --ch-25: #6b728066;
  --ch-26: #171717e6;
}
